html,
body {
    background-color: #fff0f0;
    font-family: 'Berlin Sans FB', sans-serif;
    font-size: 16px;
    margin: 0;
}

header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    inset:
        0 0 auto 0;
    position: fixed;
    transition:
        all 1s;
    z-index: 31;
    transition: background-color 0.3s ease;

    .menu {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-right: 20rem;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30%;
            margin-left: auto;
        }


        nav {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            margin-left: 0;
            align-items: center;
            margin-block-start: 4px;

            ul {
                display: flex;
                font-weight: bolder;
                letter-spacing: 1em;
                font-family: 'Berlin Sans FB';
                text-transform: uppercase;
                list-style: none;
                margin: 0;

                li {
                    display: flex;
                    align-items: flex-start;

                    .nav-letter {
                        font-weight: bolder;
                        font-size: 15px;
                    }

                    a {
                        text-decoration: none;
                        text-align: center;
                        color: black;
                        position: relative;
                        transition: color 0.3s ease;

                        ::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -2px;
                            width: 0;
                            height: 2px;
                            background-color: red;
                            transition: width 0.3s ease;
                        }

                        :hover::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.title-page {
    display: flex;
    font-family: 'Berlin Sans FB';
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    color: #D80808;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;

    .row {
        display: flex;

        .col {
            padding: 20px;

            .card {
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                padding: 20px;
                text-align: center;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }

                h2 {
                    font-size: 24px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    color: #555;
                }

                .card-img-top {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 5px 5px 0 0;
                }

                .card-text {
                    font-size: 14px;
                    color: #777;
                }
            }
        }
    }
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);

    nav {
        ul {
            li {
                a {
                    color: white;
                }
            }
        }
    }
}

.main-image {

    img {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        object-fit: cover;
    }
}

.feature {
    padding: 20px;
}

.icon-placeholder {
    width: 60px;
    height: 60px;
    background-color: #4a4a8c;
    /* Color de fondo del ícono */
    border-radius: 50%;
    /* Forma circular */
    margin: 0 auto;
    /* Centrar el ícono */
}

.feature-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
}

.feature-text {
    font-size: 0.9rem;
    color: #6c757d;
    /* Color del texto */
}

.container-Contact {
    border-color: inherit;
    color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(/imagenes/Turismo-Cultura-y-Actividades-en-Corea-del-Sur-1.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;

    p {
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 10px;
    }
}

footer {
    background-color: #a1a19d;
    text-align: center;
    padding-top: 20px;
    font-size: 0.9rem;
    color: black;
    /* Color del texto */
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0;
}